.hero {
  --title-color: var(--white-color);
  padding-top: var(--m);
  width: 100%;
  min-height: 45vh;
  position: relative;

  &__image {
    object-fit: cover;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


