.image {
  --title-color: var(--black-color);
  padding-top: var(--m);
  width: 100%;


}

.image-wrapper {
  min-height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 8px 20px 0 hsla(0, 0%, 0%, 0.5);
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
