html {
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
  line-height: 1.8;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: var(--body-size);
  min-height: 100vh;

}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: var(--link-color);
  text-underline-position: under;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2.75rem 0 1rem;
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: 900;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 2.752rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

strong {
  letter-spacing: 1px;
  color: var(--bold-color);
}
