html {
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--body-font);
  line-height: 1.8;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: black;
  text-underline-position: under;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2.75rem 0 1rem;
  color: #3a3a3a;
  font-family: var(--title-font);
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

strong {
  letter-spacing: 1px;
  color: #3a3a3a;
}
