/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */
code[class*='language-'],
pre[class*='language-'] {
  color: var(--code-foreground);
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  tab-size: 4;

  hyphens: none;
  border-radius: 5px;
}

/* Code blocks */
pre[class*='language-'] {
  overflow: auto;
  width: calc(var(--body-width) * 1.2);
  margin: 0.5em 0 0.5em calc(var(--body-width) * -0.2 / 2);
  overflow-x: scroll;
  padding: var(--medium-size);
}

@media (max-width: 1024px) {
  pre[class*='language-'] {
    margin: 0.5em 0;
    width: 100%;
  }
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--code-background);
}

/* Inline code */
:not(pre) > code {
  border-radius: 0.3em;
  white-space: normal;
  background-color: var(--code-background);
  padding: var(--base);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--code-commment-color);
}

.token.punctuation {
  color: var(--code-punctuation-color);
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: var(--code-tag-color);
}

.token.function-name {
  color: var(--code-function-color);
}

.token.boolean,
.token.number,
.token.function {
  color: var(--code-token-color);
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: var(--code-property-color);
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: var(--code-selector-color);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: var(--code-string-color);
}

.token.operator,
.token.entity,
.token.url {
  color: var(--code-operator-color);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: var(--code-inserted-color);
}
