:root {
  --foreground-color: var(--black-color);
  --background-color: var(--white-color);
  --primary-color: var(--blue-color);
  --secondary-color: var(--teal-color);

  --link-color: black;
  --code-background: var(--gray-color);
}
