.home {
  &__hero {
    background-color: var(--primary-color);

    &__wrapper {
      display: flex;
      margin: 0 auto;
      max-width: var(--body-width);
      align-items: center;
      justify-content: space-between;
      padding: 0 var(--m);
      overflow: hidden;
      height: 100%;

      &__title {
        font-size: var(--title-text);
        color: var(--white-color);
      }

      &__caption {
        --bold-color: var(--white-color);
        font-size: var(--body-text);
        color: var(--white-color);
        margin: 0;
      }

      &__photo {
        height: auto;
        max-width: 500px;
        transform: scale(-1, 1);
        mix-blend-mode: soft-light;
        align-self: flex-end;
      }
    }
  }

  &__section {
    padding: var(--l) 0;
  }

  &__articles {
    display: flex;
    flex-direction: column;

    &__title {
      margin-bottom: 0;
    }

    &__view-all {
      justify-self: center;
      margin-top: var(--l);
    }
  }
}
